Repository DevDogs-UGA/Optimal-Schedule-Builder, pull requests merged in 2024-11, with the labels that each got.

#279 Completed issue and fixed bugs
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Building/BuildingRepository.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseInformationApplication.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseSection/CourseSection.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseSection/CourseSectionRepository.java
Labels: Database

#293 Restore files within algorithm-prototyping/resources/ that were previously reverted
  algorithm-prototyping/src/main/resources/buildings.json
  algorithm-prototyping/src/main/resources/distances.json
  algorithm-prototyping/src/main/resources/professors.json
  algorithm-prototyping/src/main/resources/scripts/generate_distance_matrix.py
  algorithm-prototyping/src/main/resources/scripts/generate_distances.py
Labels: Algorithm

#294 Restore computeAverageProfessorQuality
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/ScheduleUtil.java
Labels: Algorithm

#295 Add computeAverageIdleTime
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/ScheduleUtil.java
Labels: Algorithm

#256 Created the computeOverallObjective method.
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/ScheduleUtil.java
Labels: Algorithm

#297 Implement computeMaxDistance and validate
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/ScheduleUtil.java
Labels: Algorithm

#314 Created Relationships between class and building #291
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Building/Building.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Class/Class.java
Labels: Database

#332 #289 Get course by title
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Course/CourseRepository.java
Labels: Database

#316 Added an additional 4 valid test schdules to the setUp method in ScheduleUtilTest.java
  algorithm-prototyping/brute-force-prototype/src/test/java/ScheduleUtilTest.java
Labels: Algorithm

#321 Created 5 invalid test schedules in the testValidate() method.
  algorithm-prototyping/brute-force-prototype/src/test/java/ScheduleUtilTest.java
Labels: Algorithm

#353 fixed bugs
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Building/Building.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Class/ClassRepository.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Course/CourseRepository.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseInformationApplication.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseSection/CourseSectionRepository.java
Labels: Database

#334 Added findCourseSectionsByTime
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseSection/CourseSectionRepository.java
Labels: Database

#381 Created getCoursesByCreditHours
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Course/CourseRepository.java
Labels: Database

#358 testComputeAverageProfessorQuality method in ScheduleUtilTest.java
  algorithm-prototyping/brute-force-prototype/src/test/java/ScheduleUtilTest.java
Labels: Algorithm

#362 Card Size is More Customizable
  frontend/src/app/components/ui/Card.tsx
Labels: Frontend

#393 Created Questionnaire Page + Dropdown Search component and Tag input component
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/images/removeTagButton.svg
  frontend/src/app/components/Filters.tsx
  frontend/src/app/components/courses/AddCourses.tsx
  frontend/src/app/components/courses/SearchFilter.tsx
  frontend/src/app/components/survey/QuestionnaireForm.tsx
  frontend/src/app/components/survey/TimeSelector.tsx
  frontend/src/app/components/survey/ToggleButton.tsx
  frontend/src/app/components/ui/Button.tsx
  frontend/src/app/components/ui/DropdownSearchInput.tsx
  frontend/src/app/components/ui/DropdownTagInput.tsx
  frontend/src/app/survey/page.tsx
Labels: Frontend
