Repository DevDogs-UGA/Optimal-Schedule-Builder, pull requests merged in 2024-10, with the labels that each got.

#72 fix(ci): frontend CI uses the correct working directory and cache
  .github/workflows/frontend.yml
Labels: bug

#100 added service file for course information
  services/bulletin/src/main/java/edu/uga/devdogs/bulletin/controller/BulletinController.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/service/CourseInformationService.java
Labels: API

#131 Initialize Maven module for the brute force prototype
  algorithm-prototyping/brute-force-prototype/pom.xml
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/Main.java
Labels: Algorithm

#133 Design the Sample Data to be Used in Our Prototypes
  algorithm-prototyping/resources/README.md
  algorithm-prototyping/resources/buildings.json
  algorithm-prototyping/resources/courses.json
  algorithm-prototyping/resources/professors.json
  algorithm-prototyping/resources/scripts/generate_distance_matrix.py
Labels: Algorithm

#138 Update algorithm-prototyping/resources/README.md
  algorithm-prototyping/resources/README.md
Labels: Algorithm

#154 Feature algorithm/parser
  algorithm-prototyping/brute-force-prototype/pom.xml
  algorithm-prototyping/brute-force-prototype/target/classes/edu/uga/devdogs/Main.class
  algorithm-prototyping/pom.xml
  algorithm-prototyping/sample-data-parser/pom.xml
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/Main.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/SampleDataParser.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/deserializers/LocalTimeDeserializer.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/deserializers/ProfessorDeserializer.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/records/Course.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/records/Distances.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/records/Professor.java
  algorithm-prototyping/sample-data-parser/src/main/java/edu/uga/devdogs/records/SampleData.java
  algorithm-prototyping/sample-data-parser/src/test/java/SampleDataParserTest.java
  algorithm-prototyping/sample-data-parser/src/test/resources/courses.json
  algorithm-prototyping/sample-data-parser/src/test/resources/distance_matrix.json
  algorithm-prototyping/sample-data-parser/src/test/resources/professors.json
  algorithm-prototyping/src/main/resources/README.md
Labels: Algorithm

#156 Feature algorithm/prepare sample data
  algorithm-prototyping/src/main/resources/buildings.json
  algorithm-prototyping/src/main/resources/courses.json
  algorithm-prototyping/src/main/resources/professors.json
  algorithm-prototyping/src/main/resources/scripts/generate_buildings_outline.py
  algorithm-prototyping/src/main/resources/scripts/generate_professors_outline.py
Labels: Algorithm

#157 Update README for algorithm-prototyping/resources/
  algorithm-prototyping/src/main/resources/README.md
Labels: Algorithm

#143 Added get endpoint using new format for special types in bulletin
  services/bulletin/src/main/java/edu/uga/devdogs/bulletin/controller/BulletinController.java
Labels: API

#159 Add classes for brute-force-prototype
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/BruteForcePrototype.java
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/ObjectiveCalculator.java
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/Schedule.java
Labels: Algorithm

#196 main page rough
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/README.md
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/pawsImage.png
  frontend/public/images/pawsImage2.png
  frontend/public/images/pawsImage3.png
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/src/app/components/CallToAction.tsx
  frontend/src/app/components/Footer.tsx
  frontend/src/app/components/HomepageAlert.tsx
  frontend/src/app/components/LabPairingSystem.tsx
  frontend/src/app/components/Minimap.tsx
  frontend/src/app/components/Navbar.tsx
  frontend/src/app/components/ScheduleSave.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.js
  frontend/src/app/layout.tsx
  frontend/src/app/page.js
  frontend/src/app/page.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
Labels: Frontend

#192 Frontend: Create AddCourses Component
  frontend/src/app/components/AddCourses.tsx
  frontend/src/app/components/Button.tsx
  frontend/src/app/components/Footer.tsx
  frontend/src/app/components/SearchFilter.tsx
  frontend/tailwind.config.ts
Labels: Frontend

#255 Created relationships for class, course, and sections. (after Syncing) #166
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Class/Class.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Course/Course.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseSection/CourseSection.java
Labels: Database

#224 Created the computeAverageProfessorQuality method & completed professors.json dummy data.
  algorithm-prototyping/src/main/resources/professors.json
Labels: Algorithm

#266 Wrote generate_distance_matrix.py
  algorithm-prototyping/src/main/resources/scripts/generate_distance_matrix.py
Labels: Algorithm

#262 Corrected computeAverageProfessorQuality in ScheduleUtil.java to call…
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/ScheduleUtil.java
Labels: Algorithm
