Repository DevDogs-UGA/Optimal-Schedule-Builder, pull requests merged in 2025-03, with the labels that each got.

#573 dataPreHardFilter function
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/BruteForceUtil.java
Labels: Algorithm

#584 Ensure initial courses method created.
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/BruteForceUtil.java
Labels: Algorithm

#616 Creates computeStartTime, computeEndTime and computeGapDay
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/BruteForcePrototype.java
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/Schedule.java
  algorithm-prototyping/brute-force-prototype/src/main/java/edu/uga/devdogs/bruteforceprototype/schedule/ScheduleUtil.java
  algorithm-prototyping/src/main/java/edu/uga/devdogs/Main.class
Labels: Algorithm

#658 fized duplicate building code bug
  services/course-information/src/main/java/edu/uga/devdogs/course_information/CourseInformationApplication.java
  services/course-information/src/main/resources/buildingData/AthensBuildingData.json
Labels: Database

#662 Fixed algorithm compile errors
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Algorithm/BruteForcePrototype.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Algorithm/records/Distances.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Algorithm/records/Section.java
  services/course-information/src/main/java/edu/uga/devdogs/course_information/Algorithm/schedule/ScheduleUtil.java
Labels: Algorithm

#694 Bulletin scraping
  services/bulletin/src/main/java/edu/uga/devdogs/bulletin/webscraping/BulletinScraper.java
  services/bulletin/src/main/java/edu/uga/devdogs/bulletin/webscraping/DescriptionScraper.java
  services/bulletin/src/main/java/edu/uga/devdogs/bulletin/webscraping/RequirementGroup.java
Labels: Webscraping
